---
import Main from '../layouts/main.astro';
---

<Main title="404">
  <main class="grid min-h-full place-items-center py-24 px-6 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold dark:text-amber-400 text-blue-600">
        404
      </p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-50 sm:text-5xl"
      >
        Page not found
      </h1>
      <p class="mt-6 text-base leading-7">
        Sorry, I couldn’t find the page you’re looking for.
      </p>
      <div class="mt-10">
        <a
          href="/"
          class="bg-transparent mx-2 my-4 hover:bg-blue-600 hover:dark:bg-amber-400 dark:text-amber-400 text-blue-600 dark:border-amber-400 border-blue-600 hover:text-white hover:dark:text-black py-2 px-4 border border-blue-500 hover:border-transparent rounded"
          >Go back home</a
        >
      </div>
    </div>
  </main>
</Main>
