---
import SocialIcons from './SocialIcons.astro';
import Logo from './Logo.astro';
---

<header>
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <Logo />
    <button
      type="button"
      id="mobile-menu-button-open"
      class="lg:hidden -m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-slate-900 dark:text-slate-50"
    >
      <span class="sr-only">Open menu</span>
      <svg
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>

    <div class="hidden lg:flex lg:gap-x-12">
      <a
        href="/"
        class="text-sm font-semibold leading-6 text-slate-900 dark:text-slate-50 hover:text-blue-700 dark:hover:text-amber-400"
        >About me</a
      >
      <span
        aria-disabled="true"
        class="text-sm font-light leading-6 text-slate-600 dark:text-slate-50"
        >Blog (In construction)</span
      >
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:gap-x-6 lg:justify-end">
      <SocialIcons />
    </div>
    <div
      id="mobile-menu"
      class="hidden lg:hidden"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-slate-50 dark:bg-slate-700 px-6 py-6 max-w-sm ring-1 ring-gray-900/10"
      >
        <button
          id="mobile-menu-button-close"
          type="button"
          class="hidden lg:hidden -m-2.5 rounded-md p-2.5 text-slate-900 dark:text-slate-50"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
        <div class="flex flex-1 gap-x-6">
          <SocialIcons />
        </div>
        <a
          href="/"
          class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-slate-900 dark:text-slate-50 dark:text-neutral-200 hover:bg-slate-200 dark:hover:bg-slate-800"
          >About me</a
        >
        <span
          aria-disabled="true"
          class="-mx-3 block rounded-lg py-2 px-3 text-base font-light leading-7 text-slate-600 dark:text-slate-50 hover:bg-slate-200 dark:hover:bg-slate-800"
          >Blog (In construction)</span
        >
      </div>
    </div>
  </nav>

  <script>
    function applyTheme(theme: string) {
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
        localStorage.theme = 'dark';
      } else {
        document.documentElement.classList.remove('dark');
        localStorage.theme = 'light';
      }
    }

    function SwitchMobileMenu() {
      const mobileMenu = document.getElementById('mobile-menu');
      const mobileMenuButtonOpen = document.getElementById(
        'mobile-menu-button-open'
      );
      const mobileMenuButtonClose = document.getElementById(
        'mobile-menu-button-close'
      );

      if (!mobileMenu || !mobileMenuButtonOpen || !mobileMenuButtonClose)
        return;

      if (mobileMenu.classList.contains('hidden')) {
        mobileMenu.classList.remove('hidden');
        mobileMenuButtonOpen.classList.add('hidden');
        mobileMenuButtonClose.classList.remove('hidden');
      } else {
        mobileMenu.classList.add('hidden');
        mobileMenuButtonOpen.classList.remove('hidden');
        mobileMenuButtonClose.classList.add('hidden');
      }
    }

    document
      .getElementById('mobile-menu-button-open')
      ?.addEventListener('click', () => SwitchMobileMenu());

    document
      .getElementById('mobile-menu-button-close')
      ?.addEventListener('click', () => SwitchMobileMenu());

    function toggleTheme() {
      if (localStorage.theme === 'dark') {
        applyTheme('light');
      } else {
        applyTheme('dark');
      }
    }

    if (localStorage.theme === 'light' || !('theme' in localStorage)) {
      applyTheme('light');
    } else {
      applyTheme('dark');
    }

    const light_logos = document.getElementsByClassName('logo-light');
    const dark_logos = document.getElementsByClassName('logo-dark');

    [...light_logos, ...dark_logos].forEach(logo => {
      logo.addEventListener('click', () => toggleTheme());
    });
  </script>
</header>
