---
const website_name = "Giulio Mazzanti's Personal Website";
---

<div class="flex lg:flex-1">
  <a href="#" class="-m-1.5 p-1.5">
    <span class="sr-only">{website_name}</span>
    <span id="logo-light" class="transition ease-in-out delay-150 dark:hidden"
      >Giulio Mazzanti</span
    >
    <span
      id="logo-dark"
      class="transition ease-in-out delay-150 hidden dark:block">Giuzzilla</span
    >
  </a>
</div>
