---
const website_name = "Giulio Mazzanti's Personal Website";
---

<div class="flex lg:flex-1">
  <button>
    <span class="sr-only">{website_name}</span>
    <span class="logo-light transition ease-in-out delay-150 dark:hidden"
      >Giulio Mazzanti</span
    >
    <span class="logo-dark transition ease-in-out delay-150 hidden dark:block"
      >Giuzzilla</span
    >
  </button>
</div>
