---
const website_name = "Giulio Mazzanti's Personal Website";
---

<div class="flex lg:flex-1 text-2xl">
  <button>
    <span class="sr-only">{website_name}</span>
    <div
      class="logo-light transition-all ease-in-out duration-1000 dark:hidden"
    >
      gmazzanti<span class="text-blue-600">.dev</span>
    </div>
  </button>
  <button
    class="logo-dark transition-all ease-in-out duration-1000 hidden dark:block"
  >
    giuzzilla<span class="text-amber-400">.dev</span>
  </button>
</div>
