---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<html class="h-full" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Personal website of Giulio Mazzanti. A Software Engineer based in Milan."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" /><title>
      Giulio Mazzanti - {title}
    </title></head
  >

  <body
    class="h-full text-slate-800 dark:text-neutral-50 bg-slate-50 dark:bg-slate-900"
  >
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
